
<div class="container">
  <h1>Open1999</h1>
  <form  [formGroup]="searchForm" (ngSubmit)="searchLocation(searchForm.value)">
    <div class="form-group row" >
      <label for="area" class="col-sm-1 col-form-label">區域</label>
      <div class="col-sm-2">
        <select class="form-control" id="area" formControlName="area">
          <option *ngFor="let item of zipCode" value="{{item.Code}}">{{item.Name}}</option>
        </select>
      </div>
    </div>
    <button type="submit">取得通報資料</button>
  </form>

  <br/>
  <br/>
  <table border="1" style="border-color: black">
    <tr>
      <td>檔案編號</td>
      <td>建立時間</td>
      <td>區域</td>
      <td>內容</td>
    </tr>
    <tr *ngFor="let location of locations">
      <td>{{location.FileNo_}}</td>
      <td>{{location.Cre_Date_}}</td>
      <td>{{location.ZipName_}}</td>
      <td>{{location.BeforeDesc_}}</td>
    </tr>
  </table>

</div>


